    #header {
            /*background: url("https://raw.githubusercontent.com/ykos16/ykos16.github.io/master/imgs/OLO2DT0.jpg");
            background-repeat: no-repeat, repeat;
            background-size: cover;*/
            font-family: 'Lobster', cursive;
            margin: auto;
            margin-top: 200px;
            text-align: center;

            
        }
        #bio {
            
            text-align: center; 
            font-weight: bold;
            font-family: 'Lobster', cursive;
            
        }
        #tvarka {
            width:1280px;
            height:auto;
            margin-bottom: 50px;
            font-family: 'Bree Serif', serif;

        }

#pic {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    
}
#project1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;


}
#pirmas {
    margin: auto;
    margin-left: 50px;
}

body {
    background: rgb(179, 179, 255);
    font-family: "Nunito", sans-serif;
    
            background-repeat: no-repeat, repeat;
            background-size: cover;
}


 
.content {
    margin-top: 100px;
    margin-bottom 100px;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    
}

#mainNavbar .nav-link {
    color: white;

}
#mainNavbar .nav-link:hover {
    color: #EA1C2C;
    
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#headingGroup span {
    color: #EA1C2C;
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}
.navbar.scrolled {
    background: rgb(111, 53, 252);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}

footer {
  color: white;
  background-color: lightseagreen;
}
#pabaiga {
    width:1280px;
            height:auto;
}